/*font-family: 'Cherry Swash', cursive;
font-family: 'Roboto', sans-serif;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica', "sans-serif";
}

ul {
	list-style-type: none;
}

a {
    text-decoration: none;
}

/*==================================header======================================*/

.header {
    width: 100%;
    
    
	text-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
	top: 0;
    width: 100%;
    background: #4C97A3;
	z-index: 10;
}

.title__nav {
    padding-top: 28px;
	padding-bottom: 28px;
    font-size: calc(15px + 2vw);
    font-family: 'Cherry Swash', cursive;
    font-weight: 500;   
    color:#FFFFFF;
}

.header__nav {
    display: flex;
}

.nav__link {
    position: relative;
	margin: auto 20px;
	font-size: 18px;
	text-transform: uppercase;
    color: #DCE3E4;
}

.nav__link:hover {
    position: relative;
    margin: auto 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #69728C;
}

.nav__link:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: 3px;
    width: 2px;
    height: 16px;
    margin-left:20px;
    background-color: #ffffff;
    transform: rotate(27deg);
}

.header__main {
    padding-top: 129px;
    padding-bottom: 6px;
    background: 
    url("../img/sea.png") no-repeat center center;
    text-align: center;
	margin: auto 0;
}

.header__title {
    font-size: calc(20px + 2vw);
	text-transform: uppercase;
    color: #E4E4E4;
    padding-bottom: 46px;
}

.header__link {
	width: 234px;
	height: 47px;
	font-size: 30px;
	background: transparent;
    color: #E4E4E4;
    border: 2px solid #E4E4E4; 
    border-radius: 10px;
    padding: 8px 41px 10px 42px;
}

.header__link:hover {
	width: 234px;
	height: 47px;
	font-size: 30px;
	background: transparent;
	color: #69728C;
	border-color: #69728C;
	margin-bottom: 121px;
}

.header__swiper {
	display: flex;
    justify-content: center;
    padding-top: 121px;
    padding-bottom: 20px;
}

.header__circle {
	width: 9px;
	height: 9px;
	background: #fff;
	border-radius: 50%;
	margin: 0 6px;
}

.header__circle:hover {
	width: 9px;
	height: 9px;
	background: #69728C;
	border-radius: 50%;
	margin: 0 6px;
}



/*============================================== Section main=======================================*/

.main__content {
	padding-top: 76px;
	padding-bottom: 80px;
	text-align: center;
}

.main__explore {
    text-align: center;
	margin: auto 14%;
}

.main__title {
	font-size: 30px;
	color: #4C505D;
	margin-bottom: 39px;
}

.main__text {
	font-size: 14px;
	color: #4C505D;
	margin-bottom: 70px; 
}

.content__link {
	margin: auto 5%;
}

/*============================================= Section Testimonial=======================================*/

.testimonial {
	padding-top: 97px;
	padding-bottom: 94px;
	background: #00D089;
}

.testimonial__user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial__photo {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	margin-bottom: 62px;
}

.man {
    background: 
    url("../img/icons/brutal-man.png") no-repeat center center;
}

.testimonial__review {
    position: relative;
    top:-25px;
    left: 19px
}

.testimonial__name {
	font-size: 26px;
	text-transform: uppercase;
    color: #E4E4E4;
    margin-bottom:15px;
}

.testimonial__quotes {
    width: 8vw;
    height: 6vw;
}

.main__testimonial {
    text-align: center;
	margin: auto 14%;
}

.testimonial__text {
	font-size: 18px;
    color: #fff;
    text-align: left;
}

/*====================================================== Contact=======================================*/

.contact {
	padding-top: 51px;
	padding-bottom: 34px;
	background: url("../img/icons/map.png") no-repeat center center
}

.contact__circle {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 431px;
	height: 431px;
	background: #fff;
	opacity: .8;
	border-radius: 50%
}

.contact__form {
	display: flex;
	flex-direction: column;
}

.contact__name {
	width: 276px;
	height: 32px;
	margin-top: 112px;
	margin-bottom: 14px;
}

.contact__email {
	width: 276px;
	height: 32px;
	margin-bottom: 15px;
}

.contact__message {
	width: 276px;
	height: 81px;
	margin-bottom: 32px;
}

.contact__button {
	position: relative;
	width: 67px;
	height: 67px;
	background: #00D089;
	border-radius: 50%;
	margin: 0 auto;
	border: #00D089;
}

.check-sign {
	position: absolute;
    background: #fff;
}

.check {
    width: 30px;
    height: 10px;    
	transform: rotate(45deg);
	left: 9px;
    top: 31px;	
}

.part {
    width: 30px;
    height: 10px;    
    transform: rotate(-45deg);
    left: 24px;
    top: 30px;
}

.contact__button:hover {
	position: relative;
	width: 67px;
	height: 67px;
	background: #000;
	border-radius: 50%;
	margin: 0 auto;
	border: #000;
}
/*================================================== Footer=======================================*/

.footer {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 16px;
	background: #00D089;
}

.footer__address {
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}